/* variables */
:root {
    --primary-color-purple: #71539B;
}

/* general */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background-color: #FFF;
    font-family: sans-serif;
}

h1 {
    font-size: 34px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

button {
    cursor: pointer;
}

/* header */
header {
    position: relative;
}

#viewHighScoresButton {
    color: var(--primary-color-purple);
    background: none;
    border: none;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
}

header p {
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    position: absolute;
    top: 5px;
    right: 5px;
}

#introContainer {
    text-align: center;
}

#title {
    font-size: 34px;
    font-family: sans-serif;
    font-weight: 700;
    margin: 60px 0 30px;
    text-align: center;
}

#startButton {
    color: #FFF;
    background-color: var(--primary-color-purple);
    border: 1px solid var(--primary-color-purple);
    margin-top: 15px;
    padding: 2px 5px;
    border-radius: 2px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#introContainer,
#questionsContainer,
#formContainer,
#scoresContainer {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

#answerList {
    text-align: left;
    margin-bottom: 15px;
}

/* questions */
#questionHeader {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    margin: 60px 0 30px;
}
