/* variables */
:root {
    --primary-color-purple: #71539B;
}

/* general */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background-color: #FFF;
    font-family: sans-serif;
}

h1 {
    font-size: 34px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

button {
    cursor: pointer;
    color: #FFF;
    background-color: var(--primary-color-purple);
    border: 1px solid var(--primary-color-purple);
    padding: 2px 5px;
    border-radius: 2px;
    margin-right: 10px;
}

button:hover {
    opacity: .8;
}

/* End general */

/* header */
header {
    position: relative;
}

#viewHighScoresButton {
    color: var(--primary-color-purple);
    background: none;
    border: none;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
}

#viewHighScoresButton:focus {
    outline: none;
}

header p {
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    position: absolute;
    top: 5px;
    right: 5px;
}

/*  End Header */

/* Landing container */
#introContainer {
    text-align: center;
}

#title,
#scoresHeader {
    font-size: 34px;
    font-family: sans-serif;
    font-weight: 700;
    margin: 60px 0 30px;
}

#startButton {
    margin-top: 15px;
}

/* End Landing container */

/* All other CSS */
#introContainer,
#questionsContainer,
#formContainer,
#scoresContainer {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

#answerList {
    text-align: left;
    margin-bottom: 20px;
}

/* questions */
#questionHeader {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    margin: 60px 0 30px;
}

#questionsContainer button {
    color: #FFF;
    background-color: var(--primary-color-purple);
    border: 1px solid var(--primary-color-purple);
    padding: 2px 5px;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-left: 5px;
}

#lastQuestionResult {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 2px solid gray;
    color: gray;
}

/* li button {
    color: #FFF;
    background-color: var(--primary-color-purple);
    border: 1px solid var(--primary-color-purple);
    margin-top: 15px;
    padding: 2px 5px;
    border-radius: 2px;
} */
#formContainer,
#scoresContainer {
    text-align: left;
}

button:focus,
input:focus {
    outline: 1px solid blue;
}

/* form container */
#formHeader {
    margin: 60px 0 30px;
    font-weight: bold;
}

#scoreForm {
    margin: 30px 0 20px;
}

/* end form container */

/* scores container */
#scoresContainer {
    margin-top: 88.5px;
    margin-bottom: 30px;
}

#highscoresList {
    margin: 25px 0;
}

#highscoresList li {
    background-color: #EEE7FB;
    line-height: 1.4;
    margin: 5px 0;
    padding: 2px;
}

/* end scores container */

/* hide and show */
.hide {
    display: none;
}

.show {
    display: block;
}